## Bot
BOT_TOKEN=BOT_TOKEN>
ADMIN_IDS=ADMIN_ID,ADMIN_ID, ...
BOT_NAME=template

## PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=template

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379

## Miscellaneous
LOG_LEVEL=INFO
TIMEZONE=Europe/Kiev
